@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500&display=swap');

body {
   width: 100%;
   padding: 0;
   background-color: #fafafa;
   overflow-x: hidden;
   font-family: 'M PLUS Rounded 1c', sans-serif;
}


/*pc用ヘッダー*/
/* ヘッダー部分記述 */
.pc {
   display: block;
}

header {
   padding: 0;
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   margin: 0;
   height: 75px;
   background-color: #fafafa;
   z-index: 200;
}

/* メニュー部分記述 */

nav {
   text-align: right;
}

nav ul {
   margin-top: 25px;
   margin-right: 20px;
   height: 20px;
   padding: 0;
}

nav li {
   display: inline-block;
   list-style: none;
   border-left: solid 2px #222;
   padding: 0 50px;
}

nav ul li:last-child {
   padding-right: 50px;
   border-right: solid 2px #222;
   text-decoration: none;
   display: inline-block;
   border-left: solid 2px #222;
}

nav ul a {
   color: #222;
   text-decoration: none;
}

.headback {
   background-color: transparent;
}

/*pc用ヘッダー終了*/

/*タブレット・スマホ用ヘッダー*/
.phone {
   display: none;
   height: 60px;
}

#hamnav {
   top: -300px;
   position: fixed;
   width: 100%;
   background-color: #222;
   z-index: 500;
   height: 250px;
   transition: all .5s ease-out 0s;
   padding: 20px 0;
}

.hamul {
   height: 200px;
   width: 100%;
   text-align: center;
}

.hamli {
   display: block;
}

.hamli a {
   color: #fefefe;
   font-size: 25px;
   line-height: 65px;
}

/* ハンバーガー部分記述 */
.hamburger {
   position: absolute;
   top: 0;
   right: 0;
   padding: 0px 0px 0 0px;
   width: 50px;
   height: 50px;
   z-index: 500;
   cursor: pointer;
   background-color: #fe4a49;
   border-radius: 60px;
   margin: 5px;
}

.hamburger_line {
   position: absolute;
   left: 13px;
   margin-top: 14px;
   width: 25px;
   height: 2px;
   background-color: #fefefe;
   transition: all .3s;
}

.hamburger_line2 {
   margin-top: 24px;
   opacity: 1;
}

.hamburger_line3 {
   margin-top: 34px;
}


/* ハンバーガーが押されたとき */
.nav_open #hamnav {
   top: 0;
}

.nav_open .hamburger {
   background-color: #fefefe;
}

.nav_open .hamburger_line1 {
   top: 10px;
   transform: rotate(-45deg);
   background-color: #222;
}

.nav_open .hamburger_line2 {
   background-color: #222;
   left: 30px;
   opacity: 0;
}

.nav_open .hamburger_line3 {
   transform: rotate(45deg);
   background-color: #222;
   top: -9px;
}

/*タブレット・スマホ用ヘッダー終了*/

/* ヘッダー部ロゴ記述 */

#logo {
   position: fixed;
   top: 0;
   left: 0;
   width: 150px;
   height: 150px;
   background-color: #222;
   z-index: 300;
   cursor: pointer;
}

#logo h1 {
   color: #fafafa;
   font-size: 30px;
   line-height: 110px;
}

.nav_open #logo {
   background-color: #fefefe;
}

.nav_open #logo h1 {
   color: #222;
}

/*スクロールでヘッダーロゴの大きさ変更アニメーション記述 */
/*小さくなるアニメーション */

@keyframes small {
   from {
      width: 150px;
      height: 150px;
      font-size: 30px;
      line-height: 110px;
   }

   to {
      width: 75px;
      height: 75px;
      font-size: 15px;
      line-height: 55px;
   }
}

.small_logo {
   animation: small .3s ease-in-out normal both;
}

.small_logo h1 {
   animation: small .3s ease-in-out normal both;
}


/*大きくなるアニメーション */

@keyframes large {
   from {
      width: 75px;
      height: 75px;
      font-size: 15px;
      line-height: 35px;
   }

   to {
      width: 150px;
      height: 150px;
      font-size: 30px;
      line-height: 110px;
   }
}

.large_logo {
   animation: large .3s ease-in-out normal both;
}

.large_logo h1 {
   animation: large .3s ease-in-out normal both;
}

/* ヘッダーロゴアニメーション記述終了 */
/* ヘッダー記述終了 */

.top {
   margin-left: -8px;
   margin-top: 75px;
   height: 500px;
   width: 100%;
   line-height: 500px;
   text-align: center;
   background: #bfdeea url(../img/top.png) no-repeat center center scroll;
   background-size: cover;
}

main {
   width: 100%;
   margin-left: -8px;
}

.uebxli {
   margin-top: 0px;
   margin-bottom: 150px;
}

.what {
   color: #fafafa;
   text-align: center;
   font-size: 3rem;
   margin: 0px;
   background-color: #bfdeea;
   padding: 80px 0px 80px 0px;
   margin-bottom: 70px;
}

.item img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.setumei {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 15px;
   margin: 15px 75px 15px 75px;
}

#plo {
   text-align: center;
   height: 950px;
}

.one {
   position: fixed;
   background-color: #fe4a49;
   height: 100%;
   z-index: 100;
   width: 100%;
}

.two {
   position: fixed;
   z-index: 200;
   background-color: #bfdeea;
   height: 100%;
   right: 0;
   width: 100%;
}

.three {
   position: fixed;
   background-color: #06d6a0;
   height: 100%;
   right: 0;
   width: 100%;
   z-index: 300;
}

.four {
   position: fixed;
   background-color: #ffd275;
   height: 100%;
   right: 0;
   width: 100%;
   z-index: 400;
}

.need {
   background-color: #fe4a49;
   text-align: center;
   height: 800px;
}

.need h2 {
   line-height: 100px;
   height: 100px;
   margin: 50px 0px;
}

.mono_h3 {
   float: left;
   width: 60%;
   margin: 25px 0px;
}

.need td {
   color: #FAFAFA;
}

.monocoto {
   font-size: 3rem;
   color: #FAFAFA;
}

.mono_table {
   clear: both;
   float: left;
   width: 60%;
   line-height: 100px;
   height: 550px;
   padding-top: 10px;
   border-collapse: separate;
   border-spacing: 10px 0px;
   border-right: solid 1px #222222;
}

.mono_table_title_div {
   height: 60px;
   line-height: 60px;
}

.mono_table_text {
   background-color: #06D6A0;
   border-top-style: none;
   margin-bottom: 25px;
   border-bottom: solid 10px #FFFFFF;
}

.mono_table_title_sel {
   margin-top: 25px;
   background-color: #FFD275;
}

.coto_h3 {
   margin-top: 0px;
   margin-bottom: 25px;
   padding-top: 25px;
   font-size: 40px;
   color: #FAFAFA;
}

.coto_table {
   width: 40%;
   line-height: 100px;
   height: 550px;
   padding-top: 10px;
   border-collapse: separate;
   border-spacing: 10px 0px;
}

.coto_table_title_div {
   height: 60px;
   line-height: 60px;
}

.coto_table_text {
   background-color: #FE4A49;
   border-top-style: none;
   margin-bottom: 25px;
   border-bottom: solid 10px #FFFFFF;
}

.coto_table_title_sel {
   margin-top: 25px;
   background-color: #BFDEEE;
   clear: both;
}

.need h2 {
   line-height: 100px;
   height: 100px;
   margin-top: 0;
   margin-bottom: 0;
}

.mono_h3 {
   float: left;
   width: 60%;
   margin: 25px 0px;
   font-size: 40px;
   color: #FAFAFA;
}

.need td {
   color: #FAFAFA;
}

.mono_table {
   clear: both;
   float: left;
   width: 60%;
   line-height: 100px;
   height: 550px;
   padding-top: 10px;
   border-collapse: separate;
   border-spacing: 10px 0px;
   border-right: solid 2px #FAFAFA;
}

.mono_table_title_div {
   height: 60px;
   line-height: 60px;
}

.mono_table_text {
   background-color: #FFD275;
   border-top-style: none;
   margin-bottom: 25px;
   border-bottom: solid 10px #fe4a49;
}

.mono_table_title_sel {
   margin-top: 25px;
   background-color: #FAFAFA;
}

.coto_h3 {
   margin-top: 0px;
   margin-bottom: 25px;
   padding-top: 25px;
}

.coto_table {
   width: 40%;
   line-height: 100px;
   height: 550px;
   padding-top: 10px;
   border-collapse: separate;
   border-spacing: 10px 0px;
}

.coto_table_title_div {
   height: 60px;
   line-height: 60px;
}

.coto_table_text {
   background-color: #06D6A0;
   border-top-style: none;
   margin-bottom: 5px;
   border-bottom: solid 10px #FE4A49;
}

.coto_table_title_sel {
   margin-top: 25px;
   background-color: #BFDEEE;
   clear: both;
}

.mono td {
   line-height: 25px;
   font-size: 20px;
}

.mono th div {
   font-size: 25px;
}

.coto td {
   line-height: 25px;
   font-size: 20px;
}

.coto th div {
   font-size: 25px;
}

.plo {
   color: #FAFAFA;
}

.plo a {
   text-decoration-line: none;
   color: #FAFAFA;
}

.plo a:hover {
   color: #222;
   font-size: 1.2em;
}

.yuki {
   float: left;
}

.rina {
   float: left;
}

.kero {
   float: left;
}

.tsuki {
   float: left;
}

.twitter {
   width: 33%;
   margin: 25% 0%;
}

.intro {
   width: 33%;
   margin: 9% 0%;
}

.list {
   width: 33%;
   margin: 9% 0%;
}

.study {
   margin-bottom: 20%;
}

.study li {
   margin: 10% 0px;
}

.future {
   margin-top: 20%;
}

.future li {
   margin: 10% 0px;
}

footer {
   text-align: center;
   background-color: #fefefe;
   height: 50px;
   width: 105%;
   margin-left: -2%;
}

p {
   font-weight: 300;
   color: #222;
   margin: 0;
   line-height: 50px;
}

/* 画面横幅768px~1068px */
@media only screen and (min-width: 768px) and (max-width: 1068px) {

   /*ヘッダー部分*/
   .pc {
      display: none;
   }

   .phone {
      display: block;
   }

   .top {
      margin-top: 55px;
   }

   #logo {
      width: 120px;
      height: 120px;
   }

   #logo h1 {
      font-size: 24px;
      line-height: 90px;
   }

   @keyframes small {
      from {
         width: 120px;
         height: 120px;
         font-size: 24px;
         line-height: 90px;
      }

      to {
         width: 75px;
         height: 75px;
         font-size: 15px;
         line-height: 55px;
      }
   }

   @keyframes large {
      from {
         width: 75px;
         height: 75px;
         font-size: 15px;
         line-height: 35px;
      }

      to {
         width: 120px;
         height: 120px;
         font-size: 24px;
         line-height: 90px;
      }
   }

   /*Uebxli
    ---------------------------------------------*/
}

/* 画面横幅320px~767px */
@media only screen and (min-width: 320px) and (max-width: 767px) {

   /*ヘッダー部分*/
   .pc {
      display: none;
   }

   .phone {
      display: block;
   }

   .top {
      margin-top: 55px;
      height: 300px;
   }

   #logo {
      width: 120px;
      height: 120px;
   }

   #logo h1 {
      font-size: 24px;
      line-height: 90px;
   }

   @keyframes small {
      from {
         width: 120px;
         height: 120px;
         font-size: 24px;
         line-height: 90px;
      }

      to {
         width: 75px;
         height: 75px;
         font-size: 15px;
         line-height: 55px;
      }
   }

   @keyframes large {
      from {
         width: 75px;
         height: 75px;
         font-size: 15px;
         line-height: 35px;
      }

      to {
         width: 120px;
         height: 120px;
         font-size: 24px;
         line-height: 90px;
      }
   }

   /*Uebxli
   ---------------------------------------------------*/

   .uebxli {
      margin-top: 0px;
      margin-bottom: 100px;
   }

   .what {
      font-size: 2rem;
      padding: 60px 0px 60px 0px;
      margin-bottom: 40px;
   }

   .setumei {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      margin: 15px 75px 15px 75px;
   }



   .twitter {
      width: 50%;
      margin-top: 30%;
      margin-bottom: 5%;
   }

   .intro {
      width: 50%;
      margin-top: 10%;
      margin-bottom: 0%;
   }

   .list {
      width: 100%;
      margin-top: 5%;
   }

   .study {
      float: left;
      width: 50%;

   }

   .study li {
      margin: 20% 0%;
   }

   .future {
      float: left;
      width: 50%;
      margin-top: 0%;
   }

   .future li {
      margin: 20% 0%;
   }
}
